
.menuBorder {
	border-right:#33AAAA 4px solid;
}

.menuBox {
	padding:20px 10px 20px 10px;
	font-weight:normal;	
}

.menuBox a {
	text-decoration:none;
	color:#000000;
}

.menuBox a:active, a:visited, a:hover {
	text-decoration:none;
	color:#000000;
}

.menuBox:hover  {
	cursor:hand;
	background-color:#ED9D13;
}

.menuBox-default {
	background-color:#DCDCDC;
}

.menuBox-active {
	background-color:#33AAAA;
}

