<div class="js-confirmation-dialog nofloat notdisplayed">
    <div class="dialog nofloat"></div>
    <div class="dialog-contents">
        <div id="confirmationMessage" class="col-span90 large-title central"></div>
        <div class="col-span20">&nbsp;</div>
        <div class="col-span20">
    	   <span class="dialog-button large-title margin-10 floatleft padding-10 central"
                 data-dojo-attach-event="onmousedown:onConfirmDialog"><b>Ok</b></span>
        </div>
        <div class="col-span20">&nbsp;</div>
        <div class="col-span20">
           <span class="dialog-button large-title margin-10 floatleft padding-10 central"
                 data-dojo-attach-event="onmousedown:onCancelDialog"><b>Cancel</b></span>
        </div>
    </div>

</div>