<div class="upload-data hidden">
<h1>Upload File</h1>
<form action="/upload/file" method="POST" id="upload_data_form" enctype="multipart/form-data">
    <p>
        <label>The file contains a csv header:</label>
        <input type="checkbox" name="headingCheckbox" id="headingCheckbox" checked data-dojo-attach-event="onchange:onHeadingCheckChange"/>
    </p>
    <p>
        <label>Select a data file to upload</label>
        <!--  data-dojo-type="dojox.form.Uploader" -->
        <input type="file" name="dataFile" id="dataFile"/>
    </p>
    <input type="hidden" name="wrapInTextArea" value="True"/>
    <input type="hidden" name="project" id="uploadProject" value=""/>
    <input type="hidden" name="containsHeader" id="containsHeader" value="True"/>
    <input type="button" name="uploadButton" class="btn btn-primary" data-dojo-attach-event="onmousedown:onUploadForm" value="Upload Data"/>

</form>
    <div class="data-preview hidden">
        <div id="data-preview-table" class="data-preview-table"></div>
        <div>
            <p>&nbsp;</p>
            <p>
            <input type="button" class="btn btn-primary" name="addToProject" data-dojo-attach-event="onclick:onAddToProject" value="Add to Project"/>
        </p>
            <p>&nbsp;</p>

        </div>

    </div>



</div>