<!DOCTYPE html>
<html>
    <head>
        <title>Math UI</title>
        <link rel="stylesheet" href="../style/grid.css"></link>
        <link rel="stylesheet" href="../style/fonts.css"></link>
        <link rel="stylesheet" href="../style/heights.css"></link>
        <link rel="stylesheet" href="../style/menu.css"></link>
        <link rel="stylesheet" href="../style/margins.css"></link>
        
<!--        
        <link rel="stylesheet" href="../style/debug.css"></link>
-->

<link rel="stylesheet" href="../style/font-awesome/css/font-awesome.min.css"></link>
   
    </head>
    <body>
        
        
        
        <div class="grid row-1">
            
            <div class="row-span10 col-1 150p">
                
                <span class="middle heading">MathUI</span>
                <span class="right">
                    <a href="#" class="icon-2x icon-plus"></a>
                    <select name="project_selection" disabled="true">
                        <optgroup>Choose a Project
                        <option>No Projects Created</option>
                        </optgroup>
                    </select>
                    <a href="#" class="icon-2x icon-question"></a>
                </span>
                
            </div>
            
           <div class="col-span20 menuBorder">
               
               <div class="row-1-20 150p menuBox menuBox-active">
                   <i class="icon-list"></i>&nbsp;&nbsp;<a href="#">Project Properties</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-upload-alt"></i>&nbsp;&nbsp;<a href="#">Upload Data</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-edit"></i>&nbsp;&nbsp;<a href="#">Define Attributes</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-bar-chart"></i>&nbsp;&nbsp;<a href="#">Single Value Analysis</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-superscript"></i>&nbsp;&nbsp; <a href="#">Dual Value Analysis</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-code-fork"></i>&nbsp;&nbsp; <a href="#">Multi Value Analysis</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-gears"></i>&nbsp;&nbsp;<a href="#">Define Model</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-tasks"></i>&nbsp;&nbsp;<a href="#">Partition Data</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-rocket"></i>&nbsp;&nbsp;<a href="#">Train Model</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-check-sign"></i>&nbsp;&nbsp;<a href="#">Test Model</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default">
                   <i class="icon-dashboard"></i>&nbsp;&nbsp;<a href="#">Compare Model</a>
               </div>
               
           </div> 
            <div class="col-span60 left10">
                
                <p class="heading">Upload Data</p>
                
                <form action="#" id="upload">
                    <input type="file" name="dataFile"/>
                </form>
                
                <p class="heading">Preview</p>
                
                 
                
                
            </div>
            
            
        </div>
         
    </body>
</html>