<?xml version="1.0"?>
<!--
Web.config file for au.id.cxd.Math.HttpUI.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
      <add path="/upload/file" verb="POST" type="au.id.cxd.Math.Http.UploadFileHandler,au.id.cxd.Math.Http" />
      <add path="/projects/list" verb="GET" type="au.id.cxd.Math.Http.ListProjectHandler,au.id.cxd.Math.Http" />
      <add path="/project/create" verb="POST" type="au.id.cxd.Math.Http.CreateProjectHandler,au.id.cxd.Math.Http" />
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="UploadFile" path="/upload/file" verb="POST" type="au.id.cxd.Math.Http.UploadFileHandler,au.id.cxd.Math.Http" />
      <add name="ListProjects" path="/projects/list" verb="GET" type="au.id.cxd.Math.Http.ListProjectHandler,au.id.cxd.Math.Http" />
      <add name="CreateProject" path="/project/create" verb="POST" type="au.id.cxd.Math.Http.CreateProjectHandler,au.id.cxd.Math.Http" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>