<div class="row-span10 col-1 150p">
                
                <span class="middle heading">MathUI</span>
                <span class="right">
                    <a href="#" class="icon-2x icon-plus"></a>
                    <select name="project_selection" class="project-list-select" disabled="true">
                        <optgroup>Choose a Project
                        <option>No Projects Created</option>
                        </optgroup>
                    </select>
                    <a href="#" class="icon-2x icon-question"></a>
                </span>
                
            </div>