        <div class="col-span20 menuBorder">
               
               <div class="row-1-20 150p menuBox menuBox-active" data-dojo-attach-event="onmousedown:onPropertiesClick">
                   <i class="icon-list"></i>&nbsp;&nbsp;<a href="#">Project Properties</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onUploadClick">
                   <i class="icon-upload-alt"></i>&nbsp;&nbsp;<a href="#">Upload Data</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onAttributesClick">
                   <i class="icon-edit"></i>&nbsp;&nbsp;<a href="#">Define Attributes</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onSingleValueClick">
                   <i class="icon-bar-chart"></i>&nbsp;&nbsp;<a href="#">Single Value Analysis</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onDualValueClick">
                   <i class="icon-superscript"></i>&nbsp;&nbsp;<a href="#">Dual Value Analysis</a>
               </div>
               
                <div class="row-1-20 menuBox menuBox-default"  data-dojo-attach-event="onmousedown:onMultiValueClick">
                   <i class="icon-code-fork"></i>&nbsp;&nbsp; <a href="#">Multi Value Analysis</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onDefineClick">
                   <i class="icon-gears"></i>&nbsp;&nbsp;<a href="#">Define Model</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onPartitionClick">
                   <i class="icon-tasks"></i>&nbsp;&nbsp;<a href="#">Partition Data</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onTrainClick">
                   <i class="icon-rocket"></i>&nbsp;&nbsp;<a href="#">Train Model</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onTestClick">
                   <i class="icon-check-sign"></i>&nbsp;&nbsp;<a href="#">Test Model</a>
               </div>
               
               <div class="row-1-20 menuBox menuBox-default" data-dojo-attach-event="onmousedown:onCompareClick">
                   <i class="icon-dashboard"></i>&nbsp;&nbsp;<a href="#">Compare Model</a>
               </div>
               
           </div> 